DATABASE_URL=
DIRECT_URL=
JWT_SECRET=
FRONTEND_URL=
CLIENT_ORIGIN=
GOOGLE_CLIENT_ID=
SUPABASE_URL=
SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
PUSHER_APP_ID=
PUSHER_KEY=
NEXT_PUBLIC_PUSHER_APP_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=
NEXT_PUBLIC_PUSHER_CLUSTER=




